<div class="row mb-3 flex justify-center" id="comment-form">
  <%= form_with model: comment, url: recipe_comments_path(recipe) do |f| %>
    <div>
      <%= f.label :content, "コメントを送ろう！", class: "text-left text-[20px] font-bold p-2" %></br>
      <%= f.text_area :content, class: "bg-gray-300 w-230 p-2 mt-5", row: "4", placeholder: "コメント" %></br>
      <div class="text-center">
        <% if current_user %>
          <%= f.submit "投稿", class: "btn btn-primary rounded-lg border px-4 py-1 my-3", style: "background-color: #F2EDED;" %>
        <% else %>
          <%= f.submit "投稿", class: "btn btn-primary rounded-lg border px-4 py-1 my-3", style: "background-color: #F2EDED;", onclick: "alert('コメントするにはログインが必要です。'); return false;" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>