<%= turbo_frame_tag @comment do %>
    <div class="border-b row mb-3 flex justify-center" id="comment-edit-form">
      <%= form_with model: @comment, url: comment_path(@comment) do |f| %>
        <div class="rounded-lg bg-gray-200 px-5 ">
          <%= f.label :" " %></br>
          <%= f.text_area :content, class: "bg-amber-50 border w-230 p-2 mt-5", placeholder: "コメント" %></br>
          <div class="text-right">
            <%= link_to "キャンセル", recipe_path(@recipe), class: "btn btn-primary rounded-lg border px-4 py-1 my-3", style: "background-color: #F2EDED;", data: { remote: true } %>
            <%= f.submit "保存", class: "btn rounded-lg border px-4 py-1 my-3", style: "background-color: #F2EDED;" %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>