<%= form_with model: @recipe do |f| %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex ml-230 whitespace-nowrap">
    <div class="pt-2">
      <%= link_to "レシピ一覧へ", recipes_path, onclick: "if (confirm('内容を破棄して戻ります')) { window.location.href = '#{recipes_path}'; } return false;" %>
    </div>
      <%= link_to "リセット", new_recipe_path, class: "rounded-lg bg-red-500 text-white px-4 my-2 ml-6", onclick: "if (confirm('入力内容をリセットします')) { window.location.href = '#{new_recipe_path}'; } return false;" %>
      <%= f.submit "投稿", class: "rounded-lg bg-green-400 text-stone-700 px-4 my-2 ml-2" %>
  </div>

  <div class="flex">
    <div class="ml-10 text-[20px] py-2">
      <%= f.label :" ", style: "display: block;" %>
      <%= f.file_field :image,  id: 'image_input', style: "display: none;" %>
      <%= f.hidden_field :image_cache %>
      <label for="image_input" style="background-color: lightgray; font-size: 14px; width: 500px; height: 25px; text-align: center; display: inline-block; cursor: pointer;">
        料理の写真をのせる
      </label>
      <img id="image_preview" src="<%= @recipe.image.url %>" alt="Image Preview" style="display: block; width: 500px; height: auto" />
    </div>
    <div class="text-[20px] py-2 ml-40">
      <%= f.label :" ", style: "display: block;" %>
      <%= f.text_field :title, style: "background-color: lightgray; font-size: 24px; width: 500px; height: 60px; text-align: center;", placeholder: "料理名を入力する", class: "mb-4" %>
      <%= f.label :" ", style: "display: block;" %>
      <%= f.text_field :tag_id, style: "background-color: lightgray; font-size: 24px; width: 300px; height: 60px; text-align: center;", placeholder: "苦手な食材を選択", class: "mb-8" %>
      <div class="flex items-center text-right text-[20px] py-2">
        <%= f.label :"克服ポイント：", style: "margin-right: 10px;" %>
        <%= f.number_field :get_point, in: 1..3, step: 1, required: true, style: "background-color: lightgray; width: 50px; height: 30px; text-align: center;" %>
      </div>
    </div>
  </div>
  <div class="flex ml-170">
    <%= f.label :" ", style: "display: block" %>
    <%= f.text_field :trick, style: "background-color: lightgray; font-size: 24px; width: 500px; height: 60px; text-align: center;", placeholder: "コツ・工夫点", class: " h-48" %>
  </div>
<% end %>


<script>
    document.getElementById('image_input').addEventListener('change', function(event) {
        const file = event.target.files[0];
        const reader = new FileReader();
        
        reader.onload = function(e) {
            const img = document.getElementById('image_preview');
            img.src = e.target.result; // 選択した画像のURLを設定
            img.style.display = 'block'; // 画像を表示
        }
        
        if (file) {
            reader.readAsDataURL(file); // 選択したファイルを読み込む
        }
    });
</script>