<div id="<%= dom_id recipe %>">
  <div class="flex flex-wrap justify-center">
    <div class="m-6">
      <%= link_to(recipe)  do %>
        <dev class="flex justify-center">
          <%= cl_image_tag(recipe.image.url(:index_size)) %>
        </dev>
        <div class="text-[20px] font-bold text-center">
          <%= "#{recipe.title}" %>
        </div>
        <div class="flex justify-between w-50">
          <div class="flex ml-3">
            <%= render 'favorite_buttons', recipe:recipe %>
            <div class="mt-2">
              <%= recipe.favorites.count %>
            </div>
          </div>
          <div class="text-[15px] mt-1 mr-3">
            <p><%= "克服ポイント：""#{recipe.get_point}" %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

