<p style="color: green"><%= notice %></p>

<% content_for :title, "Recipes" %>

<div class="flex justify-between">
  <div class="text-left ml-10 text-[20px] font-bold py-2">
    レシピ一覧
  </div>
  <div class="flex justify-end pt-4 mr-10">
    <% if user_signed_in? %>
      <%= "こんにちは、#{current_user.name}さん" %>
    <% else %>
      <%= "ようこそ、ゲストさん" %>
    <% end %>
  </div>
</div>

<div class="flex justify-center grid grid-cols-3 gap-5">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
   
  <% end %>
  
</div>

<h1>全てのタグ</h1>
  <ul>
    <% @tags.each do |tag| %>
      <li><%= link_to "#{tag.name}", recipes_path(tag_id: tag.id) %></li>
    <% end %>
  </ul>
