<div class="text-left ml-10 text-[20px] font-bold py-2">
  克服ポイントカード
</div>
<div class="flex justify-center mb-8">
  <div class="rounded-lg border w-150 h-80 p-10 mt-10" style="background-color: #F2EDED;">
    <div class=" text-[24px]">
      <%= "#{@user.name} さん" %>
    </div>
    <div class="flex ml-20 mt-10">
      <p class="text-[32px]">現在</p>
      <p class="text-[56px] font-bold  ml-15 mt-5"><%= @user.point %></p>
      <p class="text-[32px] ml-15 mt-15">ポイント</p>
    </div>
  </div>
</div>

<%= form_with(url: user_add_point_path(@user), local: true) do |form| %>
  <div class="flex justify-center items-center">
    <%= label_tag :add, "加算するポイント数：" %>
    <%= number_field_tag :add, nil, min: 1, max: 3, placeholder: "0", class: "bg-gray-300 w-10 pl-1" %>
    <p class="ml-2">ポイント</p>
    <%= submit_tag "加算", class: "rounded-lg border w-15 h-10  ml-5", style: "background-color: #F2EDED;" %>
  </div>
<% end %>
<%= form_with(url: user_subtract_point_path(@user), local: true) do |form| %>
  <div class="flex justify-center items-center mt-3">
    <%= label_tag :subtract, "減算するポイント数：" %>
    <%= number_field_tag :subtract, nil, min: 1, max: 3, placeholder: "0", class: "bg-gray-300 w-10 pl-1" %>
    <p class="ml-2">ポイント</p>
    <%= submit_tag "減算", class: "rounded-lg border w-15 h-10  ml-5", style: "background-color: #F2EDED;" %>
  </div>
<% end %>

<div class="flex justify-center mt-10">
  <div>
    <div class="flex items-end">
      <span class="text-[24px]">目標： </span>
      <span class="text-[28px] rounded-lg border px-3"  style="background-color: #F2EDED;"><%= "#{@reward.required_points}" %></span>
      <span class="text-[24px] ml-2"> ポイント</span>
    </div>
    <div class="mt-5">
      <p class="text-[24px]">ごほうび：</p>
      <div class="w-150 rounded-lg w-150 border px-3"  style="background-color: #F2EDED;">
        <span class="text-[28px]"><%= "#{@reward.content}" %></span>
      </div>
      </div>
  </div>
</div>

<div id="goalAchievedModal" class="modal hidden fixed inset-0 flex items-center justify-center bg-gray-300/50">
  <div class="modal-content bg-white p-6 rounded-lg shadow-lg text-center max-w-md w-full">
    <span class="close-button cursor-pointer text-2xl absolute top-4 right-4">&times;</span>
    <h2 class="text-2xl font-bold">おめでとう！</h2>
    <p>目標ポイントを達成しました！</p>
  </div>
</div>

<script>
  const targetPoints = <%= @reward.required_points %>;
  const userPoints = <%= @point %>;

  function showModal() {
    document.getElementById("goalAchievedModal").classList.remove("hidden");
  }

  document.querySelector(".close-button").addEventListener("click", function() {
    document.getElementById("goalAchievedModal").classList.add("hidden");
  });

  // ポイントチェックの後に呼び出す
  if (userPoints > targetPoints) {
    showModal();
  }
</script>

