<header>
  <nav class="bg-green-300 h-28">
    <div class="flex justify-between">
      <div class="text-[16px] font-normal text-left ml-10 pt-4">
        さぁ、まずはひとくち
      </div>
      <div class="flex justify-end font-bold items-center space-x-8  mr-20"> 
        <div class="flex flex-col items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
          <path fill="currentColor" d="M12 22a2.98 2.98 0 0 0 2.818-2H9.182A2.98 2.98 0 0 0 12 22m7-7.414V10c0-3.217-2.185-5.927-5.145-6.742C13.562 2.52 12.846 2 12 2s-1.562.52-1.855 1.258C7.185 4.074 5 6.783 5 10v4.586l-1.707 1.707A1 1 0 0 0 3 17v1a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1v-1a1 1 0 0 0-.293-.707z"/>
          </svg>
        </div>
        <div class="relative inline-block flex flex-col items-center">
          <div class="user_icon cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
            <path fill="currentColor" d="M12 12q-1.65 0-2.825-1.175T8 8t1.175-2.825T12 4t2.825 1.175T16 8t-1.175 2.825T12 12m-8 8v-2.8q0-.85.438-1.562T5.6 14.55q1.55-.775 3.15-1.162T12 13t3.25.388t3.15 1.162q.725.375 1.163 1.088T20 17.2V20z"/>
            </svg>
          </div>
          <div class="user_menu absolute hidden bg-white border border-gray-300 mt-1 w-40 shadow-lg">
            <ul>
              <%= link_to "ユーザー詳細", user_path(current_user.id), class: "block px-4 py-2 hover:bg-gray-100" %>
              <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "block px-4 py-2 hover:bg-gray-100" %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="border-t-2 border-white mt-2" style="border-color: white;" /> <!-- マージンを調整 -->
    <div class="flex justify-between">
      <div class="text-[45px] font-bold text-left ml-10">
        Kutemy
      </div>
      <div class="flex justify-end font-bold items-center space-x-8 h-[80px] mr-10">
        <%= link_to(recipes_look_path)  do %>
          <div class="flex flex-col items-center">
             <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 15l6 6m-11-4a7 7 0 1 1 0-14a7 7 0 0 1 0 14"/>
            </svg>
            <span class="text-[10px]">レシピを探す</span>
          </div>
        <% end %>
        <div class="flex flex-col items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 20 20">
          <path fill="currentColor" fill-rule="evenodd" d="M3.172 5.172a4 4 0 0 1 5.656 0L10 6.343l1.172-1.171a4 4 0 1 1 5.656 5.656L10 17.657l-6.828-6.829a4 4 0 0 1 0-5.656" clip-rule="evenodd"/>
          </svg>
          <span class="text-[10px]">いいねレシピ</span>
        </div>
        <%= link_to(new_recipe_path)  do %>
          <div class="flex flex-col items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 20 20">
            <path fill="currentColor" fill-rule="evenodd" d="m5.433 13.916l1.262-3.154a4 4 0 0 1 .885-1.343L14.5 2.5a2.121 2.121 0 1 1 3 3l-6.92 6.919c-.383.383-.84.684-1.343.885l-3.154 1.262a.5.5 0 0 1-.65-.65ZM2.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0 0 10 3H3.75A2.75 2.75 0 0 0 1 5.75v10.5A2.75 2.75 0 0 0 3.75 19h10.5A2.75 2.75 0 0 0 17 16.25V10a.75.75 0 0 0-1.5 0v6.25c0 .69-.56 1.25-1.25 1.25H3.75c-.69 0-1.25-.56-1.25-1.25V5.75Z" clip-rule="evenodd"/>
            </svg>
            <span class="text-[10px]">投稿する</span>
          </div>
        <% end %>
        <% if current_user.rewards.present? %>
          <%= link_to(user_point_path(current_user.id))  do %>
            <div class="flex flex-col items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 20 20">
              <path d="M4 4a2 2 0 0 0-2 2v1h16V6a2 2 0 0 0-2-2z"/><path fill-rule="evenodd" d="M18 9H2v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zM4 13a1 1 0 0 1 1-1h1a1 1 0 1 1 0 2H5a1 1 0 0 1-1-1m5-1a1 1 0 1 0 0 2h1a1 1 0 1 0 0-2z" clip-rule="evenodd"/></g>
              </svg>
              <span class="text-[10px]">克服ポイント</span>
            </div>
          <% end %>
        <% else %>
          <%= link_to(new_user_reward_path(current_user.id))  do %>
            <div class="flex flex-col items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 20 20">
              <path d="M4 4a2 2 0 0 0-2 2v1h16V6a2 2 0 0 0-2-2z"/><path fill-rule="evenodd" d="M18 9H2v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zM4 13a1 1 0 0 1 1-1h1a1 1 0 1 1 0 2H5a1 1 0 0 1-1-1m5-1a1 1 0 1 0 0 2h1a1 1 0 1 0 0-2z" clip-rule="evenodd"/></g>
              </svg>
              <span class="text-[10px]">克服ポイント</span>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </nav>
</header>

<script>
const user_icon = document.querySelector('.user_icon');
const user_menu = document.querySelector('.user_menu');

user_icon.addEventListener('mouseenter', () => {
  user_menu.classList.remove('hidden'); // メニューを表示
});

user_icon.addEventListener('mouseleave', () => {
  user_menu.classList.add('hidden'); // メニューを非表示
});

user_menu.addEventListener('mouseenter', () => {
  user_menu.classList.remove('hidden'); // メニューを表示
});

user_menu.addEventListener('mouseleave', () => {
  user_menu.classList.add('hidden'); // メニューを非表示
});
</script>