<h2 class="ml-10 text-[25px]">ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="field mt-5 text-[20px]">
    <div class= "flex justify-center mr-100">
      <%= f.label :email %><br />
    </div>
    <div class= "flex justify-center">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "bg-gray-300 w-140 h-10 mt-3 p-2" %>
    </div>
  </div>

  <div class="field text-[20px] mt-10">
    <div class= "flex justify-center mr-110">
      <%= f.label :password %><br />
    </div>
    <div class= "flex justify-center">
    <%= f.password_field :password, autocomplete: "current-password", class: "bg-gray-300 w-140 h-10 mt-3 p-2"  %>
    </div>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field flex justify-center mt-10">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions flex justify-center mt-10 text-[20px]">
    <%= f.submit "ログイン", class: "rounded-lg bg-green-300 p-1 cursor-pointer"%>
  </div>
<% end %>

<div class="actions flex justify-center mt-10">
 <%= link_to "アカウントの新規登録はこちら", new_registration_path(resource_name) %>
 <span>／</span>
 <%= link_to "パスワードをお忘れの方はこちら", new_user_password_path %>
</div>
<%= link_to user_google_oauth2_omniauth_authorize_path, method: :get do %>
  Googleアカウントでサインインする
<% end %>
